body {
  background: url(../img/background.jpg);
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  font-family: "Didot", "Geneva", sans-serif;
  font-style: italic;
}
#mainarea h2,
#mainarea p,
a {
  color: #ffd700;
}
#mainarea h1 {
  font-size: 40pt;
}
#mainarea h2 {
  font-size: 25pt;
}
#mainarea p {
  font-size: 16pt;
  font-family: "Apple Chancery", cursive;
  font-style: italic;
}

ul {
  list-style-type: none;
  padding-left: 0em;
  font-size: 14pt;
}

#top {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mainarea {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 10px;
}
a:hover {
  background-color: #ffd700;
  color: black;
}

.nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.nav a {
  color: #f2f2f2;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 16pt;
  
}
.nav a:hover {
  background-color: #87cefa;
  color: black;
}

.nav a.active {
  color: white;
}
.box {
  border: 2px solid black;
  background-color: #5900b3;
  margin: 10px;
  margin-left: 1em;
  border-radius: 25px;
}

input[type="submit"],
button {
  background-color: #5900b3;
  color: white;
  font-size: 120%;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}
strong {
  font-size: 20pt;
}
input[type="text"],
input[type="password"] {
  height: 20pt;
}

table {
  font-family: sans-serif;
  font-size: 16pt;
  border: 1px solid black;
  width: 80%;
  margin-left: 10%;
}
td,
th {
  text-align: center;
  padding: 8px;
  color: black;
}
th {
  color: white;
  background-color: #00008b;
}
tr:nth-child(even) {
  background-color: #87cefa;
}
tr:nth-child(odd) {
  background-color: snow;
}
#winner {
    position: relative;
    width: 40%;
    animation: winner-flash 1s infinite;
    animation-direction: alternate-reverse;
}
@keyframes winner-flash{
	from {width: 40%;} 
	to {width: 50%;}
}
#loser{ 
	position: relative;
    width: 60%;
    animation: loser-flash 0.8s infinite;
    animation-direction: alternate-reverse;

}
@keyframes loser-flash{
	70%{
		opacity: 100%; 
	}
	100%{
		opacity: 40%; 
	}
}

@media screen and (max-width: 800px) {
  #mainarea {
    float: none;
	
    width: 100%;
	
  }
  .nav{
	  display: block;
	  
	  width: 75%; 
	  margin-left: auto; 
	  margin-right: auto;    
  }
  .nav a{
	  display: block; 
	   
  }
}